
<mat-grid-list cols="3" rowHeight="300px">
  <mat-grid-tile *ngFor="let tile of tiles" [style.background]="tile.color">
    <ul>
      <li><img src="{{tile.thumbnailUrl}}"></li>
      <li><b>Title:</b> {{tile.title}}</li>
      <li><b>Id: </b>{{tile.id}}</li>
      <li><b>Url:</b> {{tile.url}}</li>
      <li> <button [ngClass]="{'btn btn-danger':tile.active, 'btn btn-success':!tile.active}"
          (click)="addDataInTable(tile)">
          {{tile.active ? 'Remove':'Comapare'}}
        </button></li>
    </ul>
  </mat-grid-tile>
</mat-grid-list>

<h2>Comparision Table</h2>
<table style="width:100%">
  <tr>
    <th>IMAGE</th>
    <th>ID</th>
    <th>URL</th>
    <th>TITLE</th>
  </tr>
  <tr *ngFor="let data of dataForTable">
    <td><img src="{{data.thumbnailUrl}}"></td>
    <td>{{data.id}}</td>
    <td>{{data.url}}</td>
    <td>{{data.title}}</td>
  </tr>
</table>